.table-row {
  display: inline-flex;
  background-color: #F7F7F7;
}

.table-column {
  display: flex;
  padding: 10px;
  width: 250px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: #515050;
}

.table-header {
  display: inline-flex;
  font-weight: bolder;
  border-bottom: 1px solid #838486;
}

.table-container {
  display: block;
  text-align: center;
  margin: 20px;
}

.table-footer-column {
  display: flex;
  padding: 10px;
  width: 250px;
  justify-content: center;
  text-align: center;
}

.table-footer {
  display: inline-flex;
  color: #2867B2;
}

.no-data-message {
  display: inline-flex;
  padding: 20px;
}

.page-navigators {
  cursor: pointer;
  color: #2867B2;
  text-decoration: underline;
  font-size: 14px;
}

.page-navigators:hover {
  color: #515050;
}

.page-number-spacing {
  margin-right: 10px;
}

.active-page {
  cursor: not-allowed;
  color: #515050 !important; 
}